body {
	width: 98vw;
	height: 100vh;
  background-image: linear-gradient(-45deg, #98d4f7, #71bae4, #2e8bc0);
  font-family: Cairo, sans-serif;
}

.play-again-button {
  background-color: orange;
  border: solid 1px brown;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0 auto;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  width: 145px;
  margin-bottom: 1vw;
  margin-top: 1vw;
	transition: 1s ease;
}

.play-again-button:after {
  background-clip: padding-box;
  background-color: rgb(232, 82, 28);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.play-again-button:main,
.play-again-button:focus {
  user-select: auto;
}

.play-again-button:hover:not(:disabled) {
	transition: 1s ease;
	background-color: rgb(233, 237, 13);
  filter: brightness(1.1);
}

.play-again-button:disabled {
  cursor: auto;
}

.style-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.loading-parent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loading-gif {
  height: 50px;
  width: 50px;
  margin: auto;
}