body {
  background-color: #2e8bc0;
}

.img-wrapper {
  margin-left: 50px;
  margin: 40px;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.img-container {
  width: 35%;
  height: 60%;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #222222;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.img {
  width: 90%;
  height: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
}

.text {
  text-align: flex-start;
  font-family: Roboto, monospace;
  font-weight: bolder;
  color: black;
  font-size: 16px;
  margin-left: 5px;
}